<link rel="stylesheet" type="text/css" href="/partials.css" />
<footer class="footer">
      <div class="footer__copyright">
        <div class="footer__links">
          <div class="footer__citation-img-container">
            <a href="/BPAboutUs">
              <img
                title="About Our Team"
                class="footer__citation-img"
                src="https://cdn.glitch.me/387da31b-af7a-4e1a-92bf-2d58a57f066e%2Fbook-16-64%20(1).png?v=1638749084435"
              />
            </a>
          </div>
           <a title="Citations" href="/citations" class="copyright_text_link"> <p>Shifting Gears © Belding BPA</p></a>
          <div class="footer__code-img-container">
            <a
              target="blank"
              rel="nofollow"
              href="https://github.com/Titan1315/-Belding-BPA-2022-2023"
            >
              <img
                title="Website Code"
                class="footer__code-img"
                src="https://cdn.glitch.me/387da31b-af7a-4e1a-92bf-2d58a57f066e%2Fcode-2-xxl.png?v=1638839027702"
              />
            </a>
          </div>
        </div>
        
      </div>
    </footer>