<link rel="stylesheet" type="text/css" href="/partials.css" />
<header class="header">
 
  <img class="logo" src = "https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/logo_transparent_background.png?v=1670174787380" alt="">
  
  
  <nav>
      <ul class="nav-links">
        <li class="li_header"><a class = "a_header_li" href="/">Home</a></li>
        <li class="li_header"><a class = "a_header_li" href="/library">Inventory</a></li>
        <li class="li_header"><a class = "a_header_li" href="/aboutus">About Us</a></li>


      </ul>
    </nav>
  <a class="cta" href="/contactUs"><button class="cta_btn">Contact Us</button></a>  
  
</header>