<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="wrapper">
  
    <!--
  
  <section class="section_1" id="section_1">
    
    <div class="left_side_header_aboutUs">
      
      
      
    </div>
    <div class="right_side_header_aboutUs">
      
      
      
    </div>
    
    <div class="header_background_aboutUs">
      
    </div>
    
    <div class="aboutus_main_title">
      <h1>
        About Us
      </h1>
      <div class="who_we_are_statment">
        <p>

        </p>
      </div>
    </div>
  </section>

  <section class="section_2" id="section_2">
      
    <div class="section_2_warpper">
      
  
    <div class="left_side_section_2">

      <div class="idea_title_container">
        <h2 class="idea_title_text">
          The Idea
        </h2>
        <div class="idea_title_text_container">
          <p class="idea_title_text_bottom">
            <i>"It all started with a thought..."</i>
          </p>
        </div>
      </div>

    </div>

    <div class="right_side_section_2">

      <div class="idea_section_image_container">

        <div class="idea_texts_container">

          <div class="idea_text_1_continer">
            <p class="idea_text_1">
              Quick easy car buying at your finger tips, done the right way and
              built for you.
            </p>
          </div>
        </div>
      </div>
    
       
      
      
    </div>
        </div>
  </section>

  <section class="section_3" id="section_3">
    <div class="mission_container">

      <div class="mission_left_container">
        <img
          class="left_mission_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/pexels-matheus-bertelli-799443.jpg?v=1670177082728"
        />
      </div>

      <div class="mission_right_container">

        <h1 class="mission_title">
          We Believe
        </h1>
        <p class="mission_text">
          "Our mission is to
          <b>empower</b>
          adventures and assist in the transition to a new car, while providing
          <b>exceptional</b>
          customer service and
          <b>reliability</b>. With Shifting Gears, your adventure
          <b>truly</b>
          starts with us."
        </p>
      </div>
    </div>
  </section>
-->
  
  <section class="sales_container_section">
  
   <div class="team_header">
        <h1 class = "team_header_text">
           
        </h1>
      </div>
  
  
  <section class="section_5 sales_1">
   
    <div class="sales_1 sales_container"> 
      

      <div class="team_section_right">
        <div class="team_person_image_container">
          <img class="team_person_image" src="https://cdn.glitch.global/5bb47c88-588d-4467-9a28-5ff47814b4bd/Untitled%20design%20(8).png?v=1674349501713">
        </div>
      </div>
      <div class="team_section_left">
        
        
        <div class="team_header_title_text_continer">
          
        
        <div class="team_position_text_container">
          
          <h1 class = "team_position_text">
            <span>&#8212;</span> CEO <span>&#8212;</span> 
          </h1>
        </div>
        <div class="team_name_contianer">
          <h1 class="team_name_text">
            Jimmy Collins
          </h1>
            
          
        </div>
          <div class="team_info_text_container">
            <div class="team_info_title_container">
              <h2 class="team_info_title_text">
                Contact Information
              </h2>
            </div>
            <div class="line_5"></div>
            <div class="team_info_discription_contianer">
              <h3 class="team_info_discription_text">
                Email: jimmyC@shifting-gears.co / Phone: 1-800-000-0000
              </h3>
            </div>
          </div>
          
          
          <div class="team_discription_text_container">
            <p class="team_discription_text">
              Jimmy Collins is the charismatic and visionary CEO of Shifting Gears, 
              a car company dedicated to providing the ultimate driving experience. 
              With a passion for cars and an unwavering commitment to excellence,
              Jimmy has led the company to new heights of success. Under his leadership, 
              Shifting Gears has become known for its innovative products, exceptional customer service, 
              and unrelenting focus on quality.
            </p>
            
            
            
          </div>
          
          
      </div>
    </div>
  </div>
    
    
    <div class="sales_2 sales_container"> 
      

      <div class="team_section_right">
        <div class="team_person_image_container">
          <img class="team_person_image" src="https://cdn.glitch.global/5bb47c88-588d-4467-9a28-5ff47814b4bd/Untitled%20design%20(12).png?v=1674360414841">
        </div>
      </div>
      <div class="team_section_left">
        
        
        <div class="team_header_title_text_continer">
          
        
        <div class="team_position_text_container">
          
          <h1 class = "team_position_text">
            <span>&#8212;</span> Sales Manager <span>&#8212;</span> 
          </h1>
        </div>
        <div class="team_name_contianer">
          <h1 class="team_name_text">
            Zachariah Schmidt
          </h1>
            
          
        </div>
          <div class="team_info_text_container">
            <div class="team_info_title_container">
              <h2 class="team_info_title_text">
                Contact Information
              </h2>
            </div>
            <div class="line_5"></div>
            <div class="team_info_discription_contianer">
              <h3 class="team_info_discription_text">
                Email: ZachariahS@shifting-gears.co / Phone: 1-800-000-0000
              </h3>
            </div>
          </div>
          
          
          <div class="team_discription_text_container">
            <p class="team_discription_text">
             Zachariah Schmidt, the Sales Manager at Shifting Gears, 
              makes the car-buying experience smooth and enjoyable by offering extensive
              knowledge of latest models and providing exceptional customer service and support to find the perfect vehicle that fits their lifestyle. 
              He works closely with customers to understand their specific needs and preferences 
              and guides them through every step of the car-buying process to ensure a satisfying experience.
            </p>
            
            
            
          </div>
          
          
      </div>
    </div>
  </div>
    
    
      <div class="sales_3 sales_container"> 
      

      <div class="team_section_right">
        <div class="team_person_image_container">
          <img class="team_person_image" src="https://cdn.glitch.global/5bb47c88-588d-4467-9a28-5ff47814b4bd/Untitled%20design%20(14).png?v=1674361692510">
        </div>
      </div>
      <div class="team_section_left">
        
        
        <div class="team_header_title_text_continer">
          
        
        <div class="team_position_text_container">
          
          <h1 class = "team_position_text">
            <span>&#8212;</span>Financial  Manager<span>&#8212;</span> 
          </h1>
        </div>
        <div class="team_name_contianer">
          <h1 class="team_name_text">
            Franklin Townsend
          </h1>
            
          
        </div>
          <div class="team_info_text_container">
            <div class="team_info_title_container">
              <h2 class="team_info_title_text">
                Contact Information
              </h2>
            </div>
            <div class="line_5"></div>
            <div class="team_info_discription_contianer">
              <h3 class="team_info_discription_text">
                Email: FranklinT@shifting-gears.co / Phone: 1-800-000-0000
              </h3>
            </div>
          </div>
          
          
          <div class="team_discription_text_container">
            <p class="team_discription_text">
              Franklin Townsend, the Financial Manager at Shifting Gears, 
              is dedicated to providing exceptional customer service and support while managing the company's finances, 
              including budgeting, forecasting and financial reporting. He works closely with customers to provide guidance and advice, 
              ensuring a smooth and satisfying financial experience.
            </p>
            
            
            
          </div>
          
          
      </div>
    </div>
  </div>
    
    
    
    
    
    
        
    <div class="sales_4 sales_container"> 
      

      <div class="team_section_right">
        <div class="team_person_image_container">
          <img class="team_person_image" src="https://cdn.glitch.global/5bb47c88-588d-4467-9a28-5ff47814b4bd/Untitled%20design%20(13).png?v=1674361075834">
        </div>
      </div>
      <div class="team_section_left">
        
        
        <div class="team_header_title_text_continer">
          
        
        <div class="team_position_text_container">
          
          <h1 class = "team_position_text">
            <span>&#8212;</span>Marketing Manager<span>&#8212;</span> 
          </h1>
        </div>
        <div class="team_name_contianer">
          <h1 class="team_name_text">
            Courtney Nunez
          </h1>
            
          
        </div>
          <div class="team_info_text_container">
            <div class="team_info_title_container">
              <h2 class="team_info_title_text">
                Contact Information
              </h2>
            </div>
            <div class="line_5"></div>
            <div class="team_info_discription_contianer">
              <h3 class="team_info_discription_text" x-ms-format-detection="none" >
                Email: CourtneyN@shifting-gears.co / Phone: 1-800-000-0000
              </h3>
            </div>
          </div>
          
          
          <div class="team_discription_text_container">
            <p class="team_discription_text">
              Courtney Nunez, the Marketing Manager of Shifting Gears, 
              leads customer-centric marketing efforts to connect customers with their dream cars and make the car-buying experience enjoyable and stress-free. 
              She is dedicated to building personal connections with customers, 
              ensuring they have a great experience and leave feeling confident and satisfied.
            </p>
            
            
            
          </div>
          
          
      </div>
    </div>
  </div>
        
    
    
        
  
  </section>
</section>
 <section class="section_1">

    <div class="team_main_container">
      <h1 class="">What Our Customers Think</h1>
      <div class="team">
        <div class="team_member">
          <div class="team_img">
            <img
              src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic%20(1).png?v=1670191329154"
              alt="Team_image"
            />
          </div>
          <h3>Indiana Mai</h3>

          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>Very knowledgeable about their auto details. They also do very well
            at accommodating requests and providing information about anything I
            inquire about.
          </p>
        </div>
        <div class="team_member">
          <div class="team_img">
            <img
              src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic.png?v=1670191335362"
              alt="Team_image"
            />
          </div>
          <h3>Jared Richards</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>Great at being flexible with finance and fast and efficent customer
            service! I would definitely recommend to anyone.</p></div>
        <div class="team_member">
          <div class="team_img">
            <img
              src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic%20(2).png?v=1670191414995"
              alt="Team_image"
            />
          </div>
          <h3>Goregia Sommer</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>
            The team helped me find and purchase the perfect first car. After a
            long time of going from dealer to dealer I found excatly what I
            needed.

          </p>
        </div>
        <div class="team_member">
          <div class="team_img">
            <img
              src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic%20(3).png?v=1670191458677"
              alt="Team_image"
            />
          </div>
          <h3>Franklyn Willis</h3>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <p>
            Great at answering every question we had regarding vehicles we were
            looking into.
          </p>
        </div>
      </div>
    </div>

  </section>

</div>
<!--
  <div class="meet_team_main_container">
    <div meet_team_title_container>
      <h1 class="meet_team_title">
        Meet The Team
      </h1>
    </div>

    <div class="memebers_container">

      <div class="card">
        <div class="overlay">
          <h2 class="overlay_name">
            Ian Neal
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Head Developer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/My%20project.jpg?v=1670255139915"
          alt="Photo underneath a dock"
        />
      </div>

      <div class="card">
        <div class="overlay">
          <h2 class="overlay_name">
            Kayley Shoen
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Graphic Designer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/My%20project%20(2).png?v=1670255140575"
          alt="Photo underneath a dock"
        />
      </div>
      <div class="card">
        <div class="overlay">

          <h2 class="overlay_name">
            Ty McDiarmid
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Handlebars Developer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/3My%20project.jpg?v=1670255140962"
          alt="Photo underneath a dock"
        />
      </div>
      <div class="card">
        <div class="overlay">
          <h2 class="overlay_name">
            Joesph Wood
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Media Manager
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/1My%20project.jpg?v=1670255141481"
          alt="Photo underneath a dock"
        />
      </div>

    </div>
  </div>
-->
  <!--<div class="subscribe">

    <div class="container">
      <input type="email" placeholder="Enter your email for news letter" />
      <button>Subscribe</button>
    </div>
  </div>
--> 

<script>
  console.log("test");
   
 

</script>