<div class="wrapper">
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />

  <div class="aboutus_main_title">
    <h1>
      Who We Are
    </h1>
  </div>

  <div class="mission_container">

    <div class="mission_left_container">
      <img
        class="left_mission_img"
        src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/pexels-matheus-bertelli-799443.jpg?v=1670177082728"
      />
    </div>

    <div class="mission_right_container">
      <h1 class="mission_title">
        Our Mission
      </h1>
      <p class="mission_text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere neque
        consequuntur a nisi, illo quia cupiditate fuga et eos minima voluptatum
        cum dolorum quas repellat eaque beatae vitae veritatis quae.
      </p>
    </div>
  </div>

  <div class="team_main_container">
    <h1 class="">What Our Customers Think</h1>
    <div class="team">
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic%20(1).png?v=1670191329154"
            alt="Team_image"
          />
        </div>
        <h3>Indiana Mai</h3>

        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat
          tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum
          nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic.png?v=1670191335362"
            alt="Team_image"
          />
        </div>
        <h3>Jared Richards</h3>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat
          tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum
          nemo distinctio quam blanditiis dignissimos.</p></div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic%20(2).png?v=1670191414995"
            alt="Team_image"
          />
        </div>
        <h3>Goregia Sommer</h3>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat
          tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum
          nemo distinctio quam blanditiis dignissimos.</p>
      </div>
      <div class="team_member">
        <div class="team_img">
          <img
            src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/profile-pic%20(3).png?v=1670191458677"
            alt="Team_image"
          />
        </div>
        <h3>Franklyn Willis</h3>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat
          tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum
          nemo distinctio quam blanditiis dignissimos.</p>
      </div>
    </div>
  </div>

  <div class="meet_team_main_container">
    <div meet_team_title_container>
      <h1 class="meet_team_title">
        Meet The Team
      </h1>
    </div>

    <div class="memebers_container">

      
    

      <div class="card">
        <div class="overlay">
        <h2 class="overlay_name">
          Ian Neal
          </h2>
           <div class="line_4"></div>
        <h4 class="overlay_title">
          Head Developer
          </h4>
        </div>
        <img class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/kayleePFP.png?v=1670202607689"
          alt="Photo underneath a dock"
        />
      </div>

      <div class="card">
        <div class="overlay">
        <h2 class="overlay_name">
          Kayley Shoen
          </h2>
           <div class="line_4"></div>
        <h4 class="overlay_title">
          Graphic Designer
          </h4>
        </div>
        <img class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/kayleePFP.png?v=1670202607689"
          alt="Photo underneath a dock"
        />
      </div>
      <div class="card">
        <div class="overlay">
          
        <h2 class="overlay_name">
          Ty McDiarmid
          </h2>
           <div class="line_4"></div>
        <h4 class="overlay_title">
          Handlebars Developer
          </h4>
        </div>
        <img class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/TY.jpeg?v=1670245253468"
          alt="Photo underneath a dock"
        />
      </div>
      <div class="card">
        <div class="overlay">
        <h2 class="overlay_name">
          Joesph Wood
          </h2>
           <div class="line_4"></div>
        <h4 class="overlay_title">
          Media Manager
          </h4>
        </div>
        <img class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/kayleePFP.png?v=1670202607689"
          alt="Photo underneath a dock"
        />
      </div>

    </div>
  </div>

  <!--<div class="subscribe">

    <div class="container">
      <input type="email" placeholder="Enter your email for news letter" />
      <button>Subscribe</button>
    </div>
  </div>
-->
</div>

<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"
  integrity="sha512-cdV6j5t5o24hkSciVrb8Ki6FveC2SgwGfLE31+ZQRHAeSRxYhAQskLkq3dLm8ZcWe1N3vBOEYmmbhzf7NTtFFQ=="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/ScrollMagic.min.js"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.6/plugins/animation.gsap.js"
></script>
<script src="./script.js"></script>