<div class="whole_page">

  <div class="main_title_BPA">
    <svg
      class="top_svg svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    ><path
        fill="#1190cb"
        fill-opacity="1"
        d="M0,0L48,5.3C96,11,192,21,288,53.3C384,85,480,139,576,160C672,181,768,171,864,149.3C960,128,1056,96,1152,90.7C1248,85,1344,107,1392,117.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path></svg>
    <svg
      class="bottom_svg svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    ><path
        fill="#1190cb"
        fill-opacity="1"
        d="M0,0L48,5.3C96,11,192,21,288,53.3C384,85,480,139,576,160C672,181,768,171,864,149.3C960,128,1056,96,1152,90.7C1248,85,1344,107,1392,117.3L1440,128L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
      ></path></svg>
    <h1 class="title_text_BPA">
      <span class="title_text_BPA_about">About</span>
      <span class="title_text_BPA_us">Us</span>
    </h1>
  </div>

  <div class="meet_team_main_container">
    <div meet_team_title_container>
      <h1 class="meet_team_title">
        Meet The Team
      </h1>
    </div>

    <div class="memebers_container">

      <div class="card">
        <div class="overlay">
          <h2 class="overlay_name">
            Ian Neal
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Head Developer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/Head%20Shots%20(2%20of%203).jpg?v=1674926792604"
          alt="Photo underneath a dock"
        />
      </div>

      <div class="card">
        <div class="overlay">
          <h2 class="overlay_name">
            Kayley Shoen
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Head Designer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/My%20project.jpg?v=1674927220941"
          alt="Photo underneath a dock"
        />
      </div>
      <div class="card last_card" id="last_card">
        <div class="overlay">

          <h2 class="overlay_name">
            Ty McDiarmid
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Associate Developer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/Head%20Shots%20(3%20of%203).jpg?v=1674926798357"
          alt="Photo underneath a dock"
        />
      </div>

    </div>
  </div>
  
  
  
  <div class="bottom_team_container">
    <div class="mission_title"> 
      <h1 class="mission_title_text">
        What We Do...
      </h1>
         
    </div>
  
<svg
      class="very_bottom_svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 1440 320"
    ><path
        fill="#24252a"
        fill-opacity="1"
        d="M0,192L24,208C48,224,96,256,144,272C192,288,240,288,288,282.7C336,277,384,267,432,266.7C480,267,528,277,576,261.3C624,245,672,203,720,208C768,213,816,267,864,240C912,213,960,107,1008,85.3C1056,64,1104,128,1152,149.3C1200,171,1248,149,1296,138.7C1344,128,1392,128,1416,128L1440,128L1440,0L1416,0C1392,0,1344,0,1296,0C1248,0,1200,0,1152,0C1104,0,1056,0,1008,0C960,0,912,0,864,0C816,0,768,0,720,0C672,0,624,0,576,0C528,0,480,0,432,0C384,0,336,0,288,0C240,0,192,0,144,0C96,0,48,0,24,0L0,0Z"
      ></path></svg>
    </div>
  <section class="section_3" id="section_3">
    
    <div class="mission_container">

      <div class="mission_left_container">
        <img
          class="left_mission_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/BPA_logo_fullcolor_notagline.png?v=1670250317585"
        />
      </div>

      <div class="mission_right_container">

        
        <p class="mission_text">
          Shifting Gears, our idea of used car-selling. Designed by Junior: Kayley
          Shoen along with Seniors: Ian Neal and Ty McDiarmid, we used a variety
          of teamwork, code, and deep intellectual thinking to produce this
          website. Our website uses roughly 5,680 individual lines of code.
          Consisting of 50% HBS/HTML and 40% CSS with 10% Java Script. The 2022-23
          Website Design Team of Belding High School presents our concept of
          buying used cars right from your phone! "Our mission is to
          <b>empower</b>
          adventures and assist in the transition to a new car, while providing
          <b>exceptional</b>
          customer service and
          <b>reliability</b>. With Shifting Gears, your adventure
          <b>truly</b>
          starts with us."
        </p>
      </div>
    </div>
  </section>

</div>