 <div class="meet_team_main_container">
    <div meet_team_title_container>
      <h1 class="meet_team_title">
        Meet The Team
      </h1>
    </div>

    <div class="memebers_container">

      <div class="card">
        <div class="overlay">
          <h2 class="overlay_name">
            Ian Neal
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Head Developer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/Head%20Shots%20(2%20of%203).jpg?v=1674926792604"
          alt="Photo underneath a dock"
        />
      </div>

      <div class="card ">
        <div class="overlay">
          <h2 class="overlay_name">
            Kayley Shoen
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Head Designer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/My%20project.jpg?v=1674927220941"
          alt="Photo underneath a dock"
        />
      </div>
      <div class="card last_card" id="last_card">
        <div class="overlay">

          <h2 class="overlay_name">
            Ty McDiarmid
          </h2>
          <div class="line_4"></div>
          <h4 class="overlay_title">
            Associate Developer
          </h4>
        </div>
        <img
          class="card_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/Head%20Shots%20(3%20of%203).jpg?v=1674926798357"
          alt="Photo underneath a dock"
        />
      </div>
      

    </div>
  </div>