









<div class="citation-page-container">

  <!--
  <section class="section_3" id="section_3">
    <div class="mission_container">

      <div class="mission_left_container">
        <img
          class="left_mission_img"
          src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/pexels-matheus-bertelli-799443.jpg?v=1670177082728"
        />
      </div>

      <div class="mission_right_container">

        <h1 class="mission_title">
          We Believe
        </h1>
        <p class="mission_text">
          Shifting Gears is a used car-selling website designed by Junior:
          Kayley Shoen along with Seniors: Ian Neal and Ty
          McDiarmid. We used a variety of teamwork, code, and deep intellectual
          thinking to produce this website. The 2022-23 Website Design Team of
          Belding High School presents our concept of buying used cars right from
          your phone!

          "Our mission is to
          <b>empower</b>
          adventures and assist in the transition to a new car, while providing
          <b>exceptional</b>
          customer service and
          <b>reliability</b>. With Shifting Gears, your adventure
          <b>truly</b>
          starts with us."
        </p>
      </div>
    </div>
  </section>
-->
  
  
  
  
 

  
  
  
  
  
  
  <h1>
        Citations
      </h1>
      
      

  <div class="citations-text-container">
    <iframe src="https://drive.google.com/file/d/1_4KQoshJIHCXSl7mMvL55b9Xy3y6Flle/preview" width="80%" height="100%" allow="autoplay"></iframe>
  </div> 
</div>