
<div class = "main_page_container">
  <div class="background">
    
  </div>
    <div class="half_page">
      <div class="logo_container">
        <!-- <img src="https://cdn.glitch.global/e9df061e-776e-4ef3-bb04-d9f66ffe2940/logo_transparent_background.png?v=1668901363460" class ="big_logo"> -->
      </div>
  </div>
  <div class="hero_text">
    <h1 class="first_line">Start your adventure</h1>
    <h1 class="second_line"> with us</h1>
    <div class="line-2"></div>
    <h1 class="third_line">find your next car here.</h1>
   <div class="btn-1">
    <a href="/library"><span>Get Started</span></a>
  </div>
    
   
  </div>
  
</div>