<div class="whole_UPlaod">
  



<h1 id="upload_title">Upload Car</h1>

<h2>
  Type
</h2>

<form action="/upload" method="post">

  <input
    type="text"
    class="form-control"
    id="type-input"
    placeholder="Ex: SUV, Truck, Car"
    name="type"
  />

  <h2>
    Make
  </h2>
  <input
    type="text"
    class="form-control"
    id="make_input"
    placeholder="Ex: Nissan, Kia, Chevy"
    name="make"
  />

  <h2>
    Model
  </h2>
  <input
    type="text"
    class="form-control"
    id="model_input"
    placeholder="Ex: Kia Soul soul is the model"
    name="model"
  />
  <h2>
    Year
  </h2>
  <input
    type="text"
    class="form-control"
    id="year_input"
    placeholder=""
    name="year"
  />

  <h2>
    Miles
  </h2>
  <input
    type="number"
    class="form-control"
    id="miles_input"
    placeholder=""
    name="miles"
  />

  <h2>
    City MPG
  </h2>
  <input
    type="number"
    class="form-control"
    id="Cmpg_input"
    placeholder=""
    name="Cmpg"
  />
  <h2>
    Hwy MPG
  </h2>
  <input
    type="number"
    class="form-control"
    id="Hmpg_input"
    placeholder=""
    name="Hmpg"
  />
  <h2>
    color
  </h2>

  <input
    type="text"
    class="form-control"
    id="color_input"
    placeholder=""
    name="color"
  />
  <h2>
    Price
  </h2>
  <input
    type="text"
    class="form-control"
    id="price_input"
    placeholder=""
    name="price"
  />

  <h2>
    Owners
  </h2>
  <input
    type="number"
    class="form-control"
    id="owners_input"
    placeholder=""
    name="owners"
  />
  <h2>
    Cylinders Engine
  </h2>
  <input
    type="number"
    class="form-control"
    id="Cengine_input"
    placeholder=""
    name="Cengine"
  />
  <h2>
    Liters In Engine
  </h2>
  <input
    type="number"
    step="0.01"
    class="form-control"
    id="Lengine_input"
    placeholder=""
    name="Lengine"
  />
  <h2>
    Drive Type
  </h2>
  <input
    type="number"
    class="form-control"
    id="drive_input"
    placeholder=""
    name="drive"
  />
 
  <h1>
    PHOTOS
  </h1>
  <h2>
    main photo
  </h2>
  <input
    type="text"
    class="form-control"
    id="main_photo_input"
    placeholder=""
    name="main_photo"
  />

  <h2>
    Front photo
  </h2>
  <input
    type="text"
    class="form-control"
    id="front_photo_input"
    placeholder=""
    name="front_photo"
  />

  <h2>
    back photo
  </h2>
  <input
    type="text"
    class="form-control"
    id="back_photo_input"
    placeholder=""
    name="back_photo"
  />
  <h2>
    Front Inside photo
  </h2>

  <input
    type="text"
    class="form-control"
    id="front_Inside_photo_input"
    placeholder=""
    name="Front_inside_photo"
  />

  <h2>
    Back Inside photo
  </h2>
  <input
    type="text"
    class="form-control"
    id="Back_Inside_photo_input"
    placeholder=""
    name="back_inside_photo"
  />

  <input
    type="reset"
    value="Reset"
    style="background-color: red; 
                        color: white"
  />
  <input
    type="submit"
    value="Submit"
    style="background-color: green; 
                        color: white"
  />
</form>

<input type = "button" onclick = "getData()" value = "Display"> 
  
  
  </div>

<style>
  .whole_UPlaod{
    margin-bottom: 20%;
  }
  





</style>