@import url('https://fonts.cdnfonts.com/css/helvetica-neue-9');


.wrapper{
    display: flex;
  flex-direction: column;
    flex-wrap: nowrap;
  background-color: #edf0f1;
  overflow: hidden;
  scroll-snap-type: y mandatory;
}



.aboutus_main_title{
  
  font-family: "Montserrat", sans-serif;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  font-size: 4em;
  
  
  
}

section{
      scroll-snap-align: start;
}

.section_1{
  height: 100%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  background-color: #24252a;
}
.section_2{
  border-top: 1px solid black;
   height: 100vh;
  background-color: #edf0f1;
  position: relative;
  z-index: 10;
}

.bottom_idea_text_continer{
  color: white;
  
   padding-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  font-size:2.5em;
  text-align:center;
      position: relative;
    bottom: -85%;
    border: black;
    border-radius: 48% 48% 48% 48% / 100% 100% 99% 100%;
    left: -10%;
  
}


.section_3{

  height: 100vh;
  position: relative;
    z-index: 100;
    background-color: #edf0f1;
  
}

.section_4{
  width: 100vw;
  position: relative;
  z-index: 100;
  background-color: #edf0f1;
  
}

.section_5{
  width: 100vw;
 
  position: relative;
  z-index: 100;
  background-color: #edf0f1;
  
}






.left_side_section_2{
  position: absolute;
  z-index: 10;
  margin-top: 2%;
  left: 0;
  width: 45vw;
  height: 80%;
  background-color: #24252a; 
  border-radius:0% 100% 100% 2% / 0% 78% 45% 0%  ;
  
}
.mission_right_thought_image{
  
  position: relative;
  top: 10%;
  
}



.idea_title_container{

  position: absolute;
  top: 50%;
  left: 5%;
  
}

.idea_title_text{
  color: white;
  
  padding-bottom: .5em;
  font-family: "helvetica", sans-serif;
  font-size:4em;
  text-align:center;
  
}
.idea_title_text_bottom{
  color: white;
  
   padding-bottom: 1em;
  font-family: "Montserrat", sans-serif;
  font-size:2.5em;
  text-align:center;
  
}

.idea_text_1_continer{
  
  color: white;
  
  padding-bottom: 1em;
  font-family: "helvetica", sans-serif;
  font-size:2em;
  text-align:center;
}
.idea_text_1{
  
  text-align:center;

  margin: auto;
  width: 80%;
  letter-spacing: .02em;
  
}

.right_side_section_2{
  position: absolute;
  right:0;
  width: 50%;
  height: 100vh;
  
  
}

.idea_section_image_container{
  top: 30%;
  margin: auto;
     width: 80%;
  height: 50%;
  text-align: center;
  padding-top: 25%;
  right: 5%;
  position: absolute;
  background-color: #24252a;
  border-radius: 75% 100% 83% 100% / 100% 39% 100% 87% ;
  
  
}


.mission_container{
  width: 90vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 10%;
  
  
}
.mission_left_container{
  display:flex;
  
  width: 50%;
}
.left_mission_img{
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  right: 0;
  top: 50%;
  
}
.mission_right_container{
  width: 50%;
  margin: auto;
  
  
}
.mission_title{
  padding-bottom: 1em;
  font-family: "helvetica", sans-serif;
  font-size:3em;
  text-align:center;
}
.mission_text{
  font-size: 2em;
  font-family: "helvetica", sans-serif;
  font-weight: 500;
  top:0;
  background-color: rgba(237, 240, 241,.9);
  border-radius: 10px;
  padding: .5em;

  text-align: center;
  
  
  
  
}






.subscribe {
  margin-top: 7em;
	padding: 90px 0 90px;
	background: 
		linear-gradient(
			rgba( 36, 37, 42, 0.81),
			rgba(26, 26, 26, 0.7)),
		url("../images/cover2.jpeg");
	background-size: cover;
	background-position: 0;
}
.subscribe input {
	width: 350px;
	border: 1px solid #999999;
	border-radius: 5px;
    margin: 0 auto 17px;
	padding: 10px 14px;
    font-size: 14px;
}
.subscribe button {
	color: #ffffff;
	background: #f7600e;
	border: none;
	border-radius: 5px;
  border: 1px solid #f7600e;
	cursor: pointer;
	transition: all 0.4s ease-in-out;
}
.subscribe button:hover {
	color: #f7600e;
	background: transparent;
	border: 1px solid #ffffff;
	border-radius: 5px;
    color: #ffffff;
}


.meet_team_title_container{
  margin:auto;
  width:100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
.meet_team_title{
    text-align:center;
    font-family: "Montserrat", sans-serif;
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    font-size: 3.5em;
  
}
.memebers_container{
  
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  place-items: center;  
  margin:auto;
  grid-auto-rows: auto;  
  grid-gap: 40px;
  padding-bottom: 10%;
  width: 60%;
  text-align: center;
  justify-content: center;
  
}
@media only screen and (max-width: 1700px){
  .memebers_container{
    width: 80%;
    grid-template-columns: repeat(2, minmax(300px, 400px));
    justify-content: center;
  }
}
@media only screen and (max-width: 1065px){
  .memebers_container{
    grid-template-columns: repeat(1, minmax(300px, 300px));
    justify-content: center;
  }
}

.card {
  width: 80%;
  height: auto;
  display: inline-block;
  position: relative;
  margin: 1rem;
  overflow:hidden;
  border-radius: 10px;
  margin:auto;
}

.overlay {
  
  background-color: rgba(237, 240, 241, .5);
  display:flex;
  width: 100%;
  height: 40%;
  position: absolute;
  opacity: 0;
  top: 100%;
  transition: 1s cubic-bezier(0.49,-0.58, 0.56, 1.85);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  
}

.overlay_name{
  padding: .5vw;
  padding-bottom: .5vw;
  font-size: 3vh;
  
}
.overlay_title{
  padding-top: .5vw;
  font-size: 2vh;
}
.line_4{
  border-top: 1px solid black;
  width:80%;
}



.card:hover .overlay{
  top:60%;
  opacity: 1;
}

.card_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 2s ease;
}

.card:hover::after .card_img{
  transform: scale(1.2);
}
.memebr_overlay {
  position: absolute;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: 1s ease;
  background-color: #008CBA;
  
}



.member_overlay_text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: 2s ease;
  text-align: center;
}













.team_header{
 margin: auto;

 background-color: #edf0f1;
}


.team_header_text{
  font-family: "helvetica", sans-serif;
  font-size: 52px;
  color: #24252a;
  text-align: center;
}



  
  
.sales_container{
    height: 80vh;
    width: 100vh;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    margin-top: 0%;
    margin-bottom: 8%;

  
}

.team_section_right{ 
  position: absolute;
  display: flex;
  right: 0;
  margin: auto;
  height: 80%;
  width: 30%;
  justify-content: flex-end;
}


.team_person_image_container{
  height: 100vh;

  
}
.team_person_image{
height: 80%;
 width: auto;
}




.team_section_left{
    position: absolute;
    left: 0;
    height: 80%;
    width: 80%;
}

.team_header_title_text_continer{
  
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  
}



.team_position_text_container{
       width: 80%;
   margin: auto;
   margin-top: 5%;
  
  
}

.team_position_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 4em;
  color: #24252a;
  text-align: center;
  
  
}
.team_position_text span {
  content: "\2014";
}

.team_name_contianer{
  width: 80%;
  margin: auto;
  
  
}
.team_name_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 5em;
  color: #24252a;
  text-align: center;
  
}

.team_info_text_container{
  display:flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  
}
.team_info_title_container{
    width: 60%;
    margin-top: 3%;
  
}
.team_info_title_text{
    text-align: center;
    font-size: 2em;
    font-family: "helvetica", sans-serif;
    letter-spacing: .02em;
  
}
.line_5{
  border-bottom: solid 1px black;
  width: 20%;
  
}
.team_info_discription_contianer{
      margin-top: 1%;
  
}
.team_info_discription_text{
  text-align: center;
  font-size: 1em;
  font-family: "helvetica", sans-serif;
  letter-spacing: .02em;
  
}


.team_discription_text_container{
    width: 75%;
    height: 70%;
    margin: auto;
    margin-top: 3%;
  
  
}
.team_discription_text{
  color: #24252a;
  font-size: 2em;
  font-family: "helvetica", sans-serif;
  letter-spacing: .02em;
 
  
}

@media only screen and (max-width: 1500px){
  .team_discription_text_container{
    width: 75%;
    
  
}
.team_discription_text{
  font-size: 1.65em;
}
}


@media only screen and (max-width: 1300px){
  .team_discription_text_container{
    width: 75%;
    
  
}
  .line_5{
  border-bottom: solid 1px black;
  width: 40%;
  
}
.team_discription_text{
  font-size: 1.35em;
}
}

@media only screen and (max-width: 1200px){
  .team_name_contianer{
  width: 80%;
  margin: auto;
  
  
}
  .line_5{
  border-bottom: solid 1px black;
  width: 50%;
  
}
  .team_position_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 3.5em;
  color: #24252a;
  text-align: center;
  
  
}
  
  
.team_name_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 4.5em;
  color: #24252a;
  text-align: center;
  
}
}

@media only screen and (max-width: 1200px){
  .team_name_contianer{
  width: 90%;
  margin: auto;
  
  
}
  
  .team_position_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 2.75em;
  color: #24252a;
  text-align: center;
  
  
}
  
  
.team_name_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 4em;
  color: #24252a;
  text-align: center;
  
}
}

@media only screen and (max-width: 800px){
    .line_5{
    border-bottom: solid 1px black;
    width: 60%;
  }
  .team_name_text{
  text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
  font-family: "helvetica", sans-serif;
  font-size: 3em;
  color: #24252a;
  text-align: center;
  
  }



}
@media only screen and (max-width: 750px){
  .team_main_container h1 {
    font-size: 1.5em;
  }  
  
    .team_position_text{
    text-shadow: 7px 5px 6px rgba(17,144,203,0.55);
    font-family: "helvetica", sans-serif;
    font-size: 2em;
    color: #24252a;
    text-align: center;
  
  
  }
  .team_discription_text{
  color: #24252a;
  font-size: 1.15em;
  font-family: "helvetica", sans-serif;
  letter-spacing: .02em;
}
  .team_info_title_text {
    font-size: 1.5em;
    
    
    
  }
  .team_info_discription_text {
    text-decoration: none;
    font-size: .75em;
    width: 105%;
    text-align: center;
  }
  .team_header_title_text_continer {
    text-align: center;
    margin: auto;
    margin-top: 6%;
    transform: translateX(15%);

  }
  .team_discription_text_container{
   display:none; 
    
  }

}

@media only screen and (max-width: 600px){
  .team_position_text_container {
    width: 100%;
}
   .team_position_text{
    font-size: 1.5em;

  
  }
  .team_section_left {

    height: 80vh;

  
}
  .team_name_text {

    font-size: 2em;

  }
  .team_info_title_text {
    font-size: 1em;
}
  .team_discription_text {

    font-size: 1em;
    letter-spacing: .01em;
}
  .team_discription_text_container {
    width: 70%;
    margin-top: 4%;
    text-align: center;
}
  
  

}




.team_main_container{
 
  background-color: #24252a;
}



.team_main_container h1{
  font-family: 'helvetica', cursive;
  font-size: 52px;
  margin-bottom: 2em;

  text-align: center;
  color: #edf0f1;
  padding-top: 1em;
  
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;

}

.team .team_member{
  background-color:  #edf0f1;
  margin: 4em;
  margin-bottom: 50px;
  width: 25em;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
}

.team .team_member h3{
  color: #24252a ;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: .5em;
  font-family: 'helvetica', cursive;
}

.team .team_member p{
  color: #414247;
  margin: auto;
  font-family: "Montserrat", sans-serif;
  padding-top: 10px;
  width: 80%;
  text-align: center;
  line-height: 2em;
  
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
 
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}
.checked {
  color: orange;
}











