@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.whole_page {
  background-color: #edf0f1;
  padding-bottom: 10%;
}

.title_container {
  padding-top: 4%;
  padding-bottom: 4%;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  
}

.gallery_container {
  box-shadow: 0px 0px 0px 0px #2f3a44;
  background-color: #24252a;
  padding-top: 20px;
  
  padding-bottom: 8%;
  border-bottom: 3px solid #000000;
  overflow: hidden;
}
.slide-container {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  overflow: hidden;
  margin-top: 150px;
}

.image-slider {
  width: 100%;
  height: 50%;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
  overflow: hidden;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img {
  position: relative;
  width: 100%;
  height: auto;
  transition: 0.5s;
  transform: rotate(0.00000000001deg);
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  image-rendering: auto;
  image-rendering: crisp-edges;
}

.button {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: auto;
  transition: 0.5s;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~ .image-slider #button-1 {
  width: 200%;
  height: auto;
  background-color: transparent;
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~ .image-slider #button-2 {
  width: 200%;
  height: auto;
  background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~ .image-slider #button-3 {
  width: 200%;
  height: auto;
  background-color: transparent;
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~ .image-slider #button-4 {
  width: 200%;
  height: auto;
  background-color: transparent;
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~ .image-slider #button-5 {
  width: 200%;
  height: auto;
  background-color: transparent;
}

#slider-span1:target ~ .image-slider {
  left: 40%;
  overflow: hidden;
}
#slider-span2:target ~ .image-slider {
  left: 20%;
  overflow: hidden;
}
#slider-span3:target ~ .image-slider {
  left: 0%;
  overflow: hidden;
}
#slider-span4:target ~ .image-slider {
  left: -20%;
  overflow: hidden;
}
#slider-span5:target ~ .image-slider {
  left: -40%;
  overflow: hidden;
}

.Overview_Title_container {
  width: 100%;
  min-height: 50px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: auto;
  text-align: center;
}
.Overview_title_text {
  margin: auto;
  text-align: center;
}
.line{
  border-bottom: 4px solid #414247;
  width:  50%;
  margin:auto;
}

.specs_container {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  height: 50vh;
  background-color: #edf0f1;
  margin: auto;
  
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.spec_contain {
  padding: 6%;
}

.top_spec {
  justify-content: center;
  display: flex;
  flex-direction: row;


}
.bottom_spec{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottom{
  padding: 30px;
  display: flex;
  
}
.top{
  padding: 30px;
  display: flex;
  
}
.text_container{
  padding-right: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

.info_spec {
  color: #24252a;
}
.type_spec {
  color: #414247;
}
.icons {
  height: 30%;
  width: auto;
}



.loan_calc_title{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  
  font-weight: 500;
  
}

.load_dis_container{
  width: 60%;
  margin: auto;
}

.loan_calc_title h1{
  font-size: 3em;
  
}
.loan_calc_title h2{
  font-size: 2em;
  
}


.loan_stuff{
  display: flex;
  justify-content: space-evenly;
  
  width: 80%;
  height: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;

}
.loancal {
  border-radius: 10px;
  padding: 6%;
  height: 100%;
  width: 30%;
  color: #edf0f1;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  top: 5%;
  margin: auto;
  background-color: #24252a ;
  
}
.loancal_text_container{
  margin:auto;
  
}
.loancal input{
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: .2em;
  font-size: 1em; 
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.line_3{
  border-top: 1px solid #edf0f1;
  
}
.input{
  text-align:center;
  padding-top: 1.5em;
  
  
}
.inputs{
  padding-bottom: 2em;

}
.loan_price{
  padding-bottom: .1em;
  
}
.loan_p{
  padding-top: .5em;
  padding-bottom: .5em;
}
.loan_price_container{
  font-size: 2em;
  text-align:center;
}

.loan_output_card{
  width: 40%;
  border: 1px solid #1190cb;
  height: 30em;
  outline: none;
  border-color: #1190cb;
  box-shadow: 0 0 10px #1190cb;
  border-radius: 10px;
  margin:auto;
}
.loan_output_text_container{
  margin: auto;
  padding: 5%;
}
.output_card_title{
  text-align:center;
  margin-top:0;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: .5em;
  padding-bottom:.5em;
}
.line_4{
  border: 1px solid #24252a;
  width: 82%;
  margin: auto;
}
.header_loan_container{
  height: 30%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin:auto;
  margin-top: 10%;
  
  border-radius: 10px;
  text-align:center;
  margin:auto;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment{
  
  margin:auto;
  font-size: 4em;
  color: #24252a;
  text-shadow: white 1px 0 10px;  
}
.price_breakdown_container{
  display:flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.line_2{
  width:50%;
  border-top: 1px solid #24252a;
  
}
.loan_info{
  text-align:left;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.5em;
}
.end_loan_info_container{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.total_text_container{
  display:flex;
  display:flex;
  flex-direction: column;
  
}
.total_after_titles{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.end_loan_info{
  text-align:left;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 1em;
  font-size: 1.5em;
  
  
}


@media screen and (max-width: 1246px) {

  .load_dis_container{
  width: 80%;
  margin: auto;
  }
}
@media screen and (max-width: 1100px) {

 
    .loan_stuff{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    }
}