@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
.whole_page {
  background-color: #edf0f1;
  padding-bottom: 10%;
  overflow: hidden;
}

.title_container {
  padding-top: 4%;
  padding-bottom: 4%;
  margin: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 500;
  
}

.gallery_container {
  background-color: #24252a;
  padding-top:2%;
  padding-bottom:2%;
  overflow: hidden;
}
.slide-container {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  overflow: hidden;
  
  justify-content: center;
}


.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.img {
  position: relative;
  width: 100%;
  height: auto;
  transition: 0.5s;
  transform: rotate(0.00000000001deg);
  -ms-interpolation-mode: nearest-neighbor;
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  image-rendering: auto;
  image-rendering: crisp-edges;
}




.Overview_Title_container {
  width: 100%;
  min-height: 50px;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 4%;
  padding-right: 4%;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 500;
  margin: auto;
  text-align: center;
    opacity: 0;

}
.Overview_title_text {
  margin: auto;
  text-align: center;
  animation-fill-mode: forwards;  
}
.line{
  border-bottom: 4px solid #414247;
  width:  50%;
  margin:auto;
  animation-fill-mode: forwards;  

}

.Overview_title_text,
.line {
  /* other styles */
  animation-fill-mode: forwards;  

}


.specs_container {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  width: 50%;
  height: 50vh;
  background-color: #edf0f1;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: space-evenly;
  justify-content: center;
  
}

#dummy_container{
    display:flex;
    
  }
#dummy_container_1{
    display:flex;
    
  }

.spec{
  opacity: 0;
  animation-fill-mode: forwards;  

}
.spec_contain {
  padding: 6%;
}

.top_spec {
   display: flex;
  flex-direction: row;
  justify-content: center;


}
.bottom_spec{
  display: flex;
  flex-direction: row;
  justify-content: center;

}




.bottom{
  padding: 30px;
  display: flex;
  
}
.top{
  padding: 30px;
  display: flex;
  
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
        opacity: 0;

    transform: translateY(100%);
  }
  to {
        opacity: 1;

    transform: translateY(0);
  }
}

.bottom,
.top {
  /* other styles */
  animation: moveUp 1s;
}

.text_container{
  padding-left: 20px;
}

.info_spec {
  color: #24252a;
  
}
.type_spec {
  color: #414247;
}
#miles_icon{
  width:22%;
  height: auto;
  
}
.icons {
  height: 30%;
  width: auto;
}

.full_bottom{
  grid-column: 2 / 3;
}

.loan_calc_title{
  text-align: center;
  font-family: "Montserrat", sans-serif;
  
  font-weight: 500;
  
}

.load_dis_container{
  width: 60%;
  margin: auto;
}

.loan_calc_title h1{
  font-size: 3em;
  
}
.loan_calc_title h2{
  font-size: 2em;
  
}


.loan_stuff{
  display: flex;
  justify-content: space-evenly;
  
  width: 80%;
  height: 80%;
  border-radius: 10px;
  margin: auto;
  margin-top: 5%;
  padding-top: 5%;
  padding-bottom: 5%;

}
.loancal {
  border-radius: 10px;
  padding: 6%;
  height: 100%;
  width: 30%;
  color: #edf0f1;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  top: 5%;
  margin: auto;
  background-color: #24252a ;
  
}
.loancal_text_container{
  margin:auto;
  
}
.loancal input{
  width: 50%;
  border: none;
  border-radius: 10px;
  padding: .2em;
  font-size: 1em; 
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.line_3{
  border-top: 1px solid #edf0f1;
  
}
.input{
  text-align:center;
  padding-top: 1.5em;
  
  
}
.inputs{
  padding-bottom: 2em;

}
.loan_price{
  padding-bottom: .1em;
  
}
.loan_p{
  padding-top: .5em;
  padding-bottom: .5em;
}
.loan_price_container{
  font-size: 2em;
  text-align:center;
}

.loan_output_card{
  width: 48%;
  border: 1px solid #1190cb;
  height: 30em;
  outline: none;
  border-color: #1190cb;
  box-shadow: 0 0 10px #1190cb;
  border-radius: 10px;
  margin:auto;
}
.loan_output_text_container{
  margin: auto;
  padding: 5%;
}
.output_card_title{
  text-align:center;
  margin-top:0;
  font-size: 2em;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: .5em;
  padding-bottom:.5em;
}
.line_4{
  border: 1px solid #24252a;
  width: 82%;
  margin: auto;
}
.header_loan_container{
  height: 30%;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin:auto;
  margin-top: 10%;
  
  border-radius: 10px;
  text-align:center;
  margin:auto;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment{
  
  margin:auto;
  font-size: 4em;
  color: #24252a;
  text-shadow: white 1px 0 10px;  
}
.price_breakdown_container{
  display:flex;
  flex-direction: column;
  margin: auto;
  width: 80%;
}
.line_2{
  width:50%;
  border-top: 1px solid #24252a;
  
}
.loan_info{
  text-align:left;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 1.5em;
}
.end_loan_info_container{
  display: flex;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.total_text_container{
  display:flex;
  flex-direction: column;
  
}
.total_after_titles{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}
.end_loan_info{
  text-align:left;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  padding-top: 1em;
  font-size: 1.5em;
  
  
}


@media screen and (max-width: 1400px) {

  .info_spec {
  color: #24252a;
  font-size:100%;
}
.type_spec {
  color: #414247;
  font-size:100%;
}
.icons {
  height: 30%;
  width: auto;
}
}

@media screen and (max-width: 1246px) {

  .load_dis_container{
  width: 80%;
  margin: auto;
  }
  .line{
  
  width:  80%;
  
}

.specs_container {
  
  width: 80%;
  height: 50vh;
  
  
}
}



@media screen and (max-width: 1200px) {

 

  .loan_stuff{
    flex-direction: column;
    
  }
  .loancal {
    width: 60%;
    margin-bottom: 5%;
  }
  .loan_output_card{
  width: 75%;
  border: 1px solid #1190cb;
  height: 30em;
  }
  
}





@media screen and (max-width: 1100px) {

 
    .loan_stuff{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    }
}
@media screen and (max-width: 950px) {

  .full_bottom{
   
    margin-bottom: 5%;

    
  }
  
  
  
#dummy_container{
    display:none;
    
  }
#dummy_container_1{
    display:none;
    
  }
  .specs_container {
  
  width: 80%;
  height: 80vh;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10%;
  row-gap: 5%;
 
  grid-template-areas: 
    ". ."
    ". ."
    ". .full_bottom";
  
}
  
  
  .bottom{
  padding: 30px;
  display: none;

}
.top{
  padding: 30px;
  display: none;

}
  .spec{
    display: flex;
    align-items: center;
    
  }
  
  
  .title_container {
   
    font-size: 5vw;
  
  }
  .image-slider{
    
    width: 100%;
    height: 40%;
  }
  
  .loan_calc_title{
  text-align: center;

  
}

.load_dis_container{
  width: 70%;
}

.loan_calc_title h1{
  font-size: 2.5em;
  
}
.loan_calc_title h2{
  font-size: 1.5em;
  
}
  
  
  
}

@media screen and (max-width: 750px) {
   .loancal {
    width: 60%;
    margin-bottom: 5%;
  }
  .loan_output_card{
  width: 80%;
  border: 1px solid #1190cb;
  height: 35em;
  }
  .line_2{
  width:90%;
  border-top: 1px solid #24252a;
  
}
}
@media screen and (max-width: 650px) {
  .price_contain{
    font-size:
    
  }
  .loancal {
    width: 70%;
    margin-bottom: 5%;
  }
}


@media screen and (max-width: 550px) {
  
  
  
  
  .loan_output_text_container{
    
    padding: 1%;
  }
    .info_spec {
    color: #24252a;
    font-size:140%;
  }
  .type_spec {
    color: #414247;
    font-size:120%;
  }
  .icons {
    height: 30%;
    width: auto;
  }
 
  /* .gas_icon{
    padding: 10px;
  }
  .owners_icon {
    padding: 5px;
  } */
  
  .load_dis_container{
  width: 80%;
}
  .loan_calc_title h1{
  font-size: 2em;
  
}
.loan_calc_title h2{
  font-size: 1em;
  
}
  .end_loan_info{
  font-size: 1em;
  
  
}
  .total_text_container{
   padding:3%; 
  text-align: left;
    
    
  }
  .total_after_titles{
    font-size: .75em;
     text-align: left;
  }
  .end_loan_info_container {
   
    flex-wrap: nowrap;
}
  .loan_info{
    font-size:1.25em;
    text-align:left;
  }
  .loancal {
    width: 95%;
    margin-bottom: 5%;
  }
  .loan_output_card{
  width: 95%;
  margin-bottom: 30%;
  height: 30em;
  }
  .loan_payment_text{
    
    font-size: 100%;
  }
  .full_bottom{
   grid-column: auto;
    
  }
  
  .specs_container {
  
  width: 65%;
  height: 200vh;
  grid-template-columns: repeat(1, 1fr);
    row-gap: 3%;
  
}
  .info_container{
    margin-bottom: 10%;
    margin-top: 10%;
  }
  
#miles_icon {
  width: 20%;
  
  }
    
  
  
}