@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
}

.li_header,.cta_btn{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
  
  
}


.header {
  z-index:999;
  position: sticky;
  background-color: #24252a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  
}
.hamburger-menu{
    visibility: hidden;
  }
.logo{
  cursor: pointer;
  margin-right: auto;
  width: 13%;
  height: 8%;
  z-index: 100;
}
.nav-links{
  list-style:none;
  
}
.nav-links .li_header{
  display: inline-block;
  padding: 0px 20px;
  
}

.nav-links .li_header a{
  transition: all 0.3s ease 0s;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
  
}
.nav-links .li_header a:hover {
  
  color: #1190cb;
  
}

.cta_btn {
  margin-left: 20px;
  padding: 9px 25px;
  background-color:	rgba(17,144,203);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  
}

.cta_btn:hover{
  background-color: rgba(0,136,169,0.8);
  
}

@media screen and (max-width: 950px) {

  .hamburger-menu{
    visibility: visible;
  }
  
  .header{
    align-items: center;
    justify-content: center;
    height: 20%;
    
  }
  
  .nav-links {
   visibility: hidden;
   order: 1;
}
  
  .logo{
    order:3;
    margin:auto;
    width: 25%;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    position: absolute;
    
  }
  .cta_btn{
    visibility: hidden;
    order:2;
  }
  
  
  
}


.hamburger__input {
  display: none;
}

.hamburger__input:checked + .mobile-buttons {
  clip-path: circle(100% at center);
  transition: all 0.5s;
}


.hamburger-menu {
     
  position:absolute;
   right: 6%;
  top: 29px;

  cursor: pointer;
  margin: auto;
  width: 75px;
  z-index:1100;

  transition: transform 0.2s ;
}

.hamburguer-menu-scroll {
  position: fixed;
  animation-name: moverMenu;
  animation-duration:.1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  
}

@keyframes moverMenu {
  from {
    bottom:-20px;
  }

  
  to {
    bottom:0px;
    filter: drop-shadow(1px 1px 1px rgba(0,0,0,0.62))
    
  }
}

.hamburger-menu:hover {
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
      
}




.mobile-buttons {
  font-family: "Montserrat", sans-serif;
  position: absolute;
  /* top: 29px; */
  /* bottom: 0; */
  background: #24252a;
  width: 100%;
  height: 100vh;
  display: flex;
  left: 0;
  top: 72%;
  justify-content: space-around;
  clip-path: circle(0 at center);
  transition: clip-path 0.5s;
  overflow: hidden;
  z-index:1000
}

.mobile-buttons-index {
   top: 0px;
} 

.mobile-buttons ul {
  margin-top: 200px;
}


.mobile-buttons-index ul {
  margin-top: 200px;
}





.mobile-buttons li {
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.mobile-buttons a {
  text-decoration: none;
  color: #edf0f1;
  margin-right: 15px;
  position: relative;
  font-size: 20px;
  font-weight:500;
}

.mobile-buttons a:hover {
  transition: all 0.3s;
}

.mobile-buttons a::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #fefefe;
  transform-origin: bottom right;
  transition: transform 0.5s ease;
  transform: scaleX(0);
}

.mobile-buttons a:hover::after {
  transform-origin: bottom left;
  transform: scaleX(1);
}

@media (min-width: 530px) {
  
  .mobile-buttons {
  
  top: 100%;
  
}
  
}


.footer {
  z-index:1000;
  height: 5vw;
  background-color: #24252a;
  text-align: center;
  margin-top: 40px;
  color: #ffeed0;
  display: flex;
  flex-direction: column;
  position:fixed;
  left:0px;
  bottom:0px;
  width: 100%;
  justify-content: space-evenly;
  
}

.footer__links {
  display: flex;
  background-color: #24252a;
  justify-content: space-evenly;
  padding-bottom: 20px;
  padding-top: 20px;
  transition: transform .2s;
  margin:auto;
  height: fit-content;
  width: 100vw;

  align-items: flex-end;
}

.footer__copyright {
  margin: auto;
}

.copyright_text_link{
  text-decoration: none;
  
}
.footer__copyright p {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 0.8em;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #edf0f1;
  text-decoration: none;
}

.footer__about-img {
  width: 40px;
  position: relative;
  filter: drop-shadow(1px 1px 1px #252222);
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform .3s

}

.footer__about-img:hover {
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  transition: all 0.2s;
}

.footer__code-img {
  width: 55%;
  margin-left:auto;
  filter: drop-shadow(1px 1px 1px #252222);
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform .3s
  
}

.footer__code-img:hover {
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  transition: all 0.2s;
}
.footer__code-img-container {
    width: 64px;


}
.footer__citation-img {
  width: 55%;
  margin-right: auto;
  filter: drop-shadow(1px 1px 1px #252222);
  transform: matrix(1, 0, 0, 1, 0, 0);
  transition: transform .3s


}

.footer__citation-img:hover {
  transform: matrix(1.2, 0, 0, 1.2, 0, 0);
  transition: all 0.2s;
}

@media (max-width: 1000px) {
 
  .footer__links {

    padding-top: 10px;
    padding-bottom: 20px;
    margin-bottom: 25px;
    margin-top: 25px;
  }
  
}


@media (max-width: 600px) {
  .footer__about-img {
    width: 30px;
  }
  .footer__code-img {
    width: 45%;
  }
  .footer__copyright p {
    font-size: 14px;
  }
  .footer__links {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15vw;
    margin-top: 25px;
  }
  
}

@media (max-width: 400px) {
 
  .footer__links {

    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25vw;
    margin-top: 25px;
  }
  .footer__about-img {
    width: 30px;
  }
  .footer__code-img {
    width: 80%;
        padding-bottom: 10px;

  }
  .footer__copyright p {
    font-size: 14px;
  }
  .footer__citation-img {
  width: 85%;
    padding-bottom: 10px;
  }
}